[workspace]
members = [
    "crates/stwo-circuits",
]

[workspace.package]
version = "0.1.0"
edition = "2024"

[workspace.dependencies]
blake2 = { version = "0.10.6", default-features = false }
indexmap = { version = "2.10.0", default-features = false }
itertools = { version = "0.12", default-features = false, features = [
    "use_alloc",
] }
num-traits = { version = "0.2.19", default-features = false }
stwo = { git = "https://github.com/starkware-libs/stwo", rev = "f7179282", features = ["prover"], default-features = false }
stwo-constraint-framework = { git = "https://github.com/starkware-libs/stwo", rev = "f7179282", features = ["prover"] }
rstest = "0.26.1"
