[workspace]
members = [
    "crates/stwo-circuits",
]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2024"

[workspace.dependencies]
blake2 = { version = "0.10.6", default-features = false }
hashbrown = ">=0.15.2"
indexmap = { version = "2.10.0", default-features = false }
indoc = "2.0.6"
itertools = { version = "0.12", default-features = false, features = [
    "use_alloc",
] }
num-traits = { version = "0.2.19", default-features = false }
# TODO(ilya): Use an offical branch.
stwo = { git = "https://github.com/starkware-libs/stwo", rev = "3f7d1997", features = [
    "parallel",
    "prover",
], default-features = false }
stwo-constraint-framework = { git = "https://github.com/starkware-libs/stwo", rev = "3f7d1997", features = [
    "parallel",
    "prover",
] }
stwo-air-utils-derive = { git = "https://github.com/starkware-libs/stwo", rev = "043bb696" }
stwo-air-utils = { git = "https://github.com/starkware-libs/stwo", rev = "043bb696" }
rstest = "0.26.1"
expect-test = "1.5.1"
rayon = "1.10.0"
