[workspace]
members = [
    "crates/cairo_air",
    "crates/circuits",
    "crates/circuit_air",
    "crates/circuit_serialize",
    "crates/circuit_prover",
    "crates/stark_verifier",
    "crates/stark_verifier_examples",
]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2024"

[workspace.dependencies]
blake2 = { version = "0.10.6", default-features = false }
hashbrown = ">=0.15.2"
indexmap = { version = "2.10.0", default-features = false }
indoc = "2.0.6"
itertools = { version = "0.12", default-features = false, features = [
    "use_alloc",
] }
num-traits = { version = "0.2.19", default-features = false }
stwo = { path = "../stwo/crates/stwo", features = [
    "parallel",
], default-features = false }
stwo-constraint-framework = { path = "../stwo/crates/constraint-framework", features = [
    "parallel",
] }
stwo-air-utils-derive = { path = "../stwo/crates/air-utils-derive" }
stwo-air-utils = { path = "../stwo/crates/air-utils" }
cairo-air = { git = "https://github.com/starkware-libs/stwo-cairo", rev = "5a1c19af86e446" }
stwo_cairo_prover = { package = "stwo-cairo-prover", git = "https://github.com/starkware-libs/stwo-cairo", rev = "5a1c19af86e446" }
stwo_cairo_common = { package = "stwo-cairo-common", git = "https://github.com/starkware-libs/stwo-cairo", rev = "5a1c19af86e446" }
stwo_cairo_dev_utils = { package = "stwo-cairo-dev-utils", git = "https://github.com/starkware-libs/stwo-cairo", rev = "5a1c19af86e446" }
stwo_cairo_utils = { package = "stwo-cairo-utils", git = "https://github.com/starkware-libs/stwo-cairo", rev = "5a1c19af86e446" }
circuits = { path = "crates/circuits", features = ["circuit-profiler"] }
circuit-air = { path = "crates/circuit_air"}
circuits-stark-verifier = { path = "crates/stark_verifier"}
circuits-stark-verifier-examples = { path = "crates/stark_verifier_examples"}
rstest = "0.26.1"
expect-test = "1.5.1"
rayon = "1.10.0"
serde = "1.0.219"

# Compile the circuit-prover and stwo crates with optimization level 3 to speed up the blake related tests.
[profile.test.package.circuit-prover]
opt-level = 3
[profile.test.package.stwo]
opt-level = 3

[patch."https://github.com/starkware-libs/stwo"]
stwo = { path = "../stwo/crates/stwo" }
stwo-constraint-framework = { path = "../stwo/crates/constraint-framework" }
stwo-air-utils = { path = "../stwo/crates/air-utils" }
stwo-air-utils-derive = { path = "../stwo/crates/air-utils-derive" }
