name: CI

env:
  NIGHTLY_VERSION: "nightly-2025-07-14"
  STABLE_VERSION: "1.88.0"

on:
  push:
    branches:
      - main

  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - auto_merge_enabled
      - edited

  merge_group:
    types:
      - checks_requested

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt
          toolchain: ${{ env.NIGHTLY_VERSION }}
      - uses: Swatinem/rust-cache@v2
      - run: scripts/rust_fmt.sh --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          components: clippy
          toolchain: ${{ env.NIGHTLY_VERSION }}
      - uses: Swatinem/rust-cache@v2
      - run: scripts/clippy.sh

  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.NIGHTLY_VERSION }}
      - uses: Swatinem/rust-cache@v2
      - run: RUSTDOCFLAGS="-Dwarnings" cargo doc --document-private-items --no-deps --all-features

  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.NIGHTLY_VERSION }}
      - uses: Swatinem/rust-cache@v2
      - run: cargo test

  all-tests:
    runs-on: ubuntu-latest
    needs:
      - format
      - clippy
      - doc
      - run-tests
    steps:
      - name: Decide whether all the needed jobs succeeded or failed
        uses: re-actors/alls-green@v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
